<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.product.mapper.BrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.product.entity.Brand">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="english_name" property="englishName" />
        <result column="first_letter" property="firstLetter" />
        <result column="description" property="description" />
        <result column="logo" property="logo" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        p.id, p.name,p.english_name, p.first_letter, p.description, p.logo, p.create_time, p.update_time
    </sql>

    <select id="listAll" resultType="com.dmall.product.entity.Brand">
        select
        <include refid="Base_Column_List"></include>
        from p_brand p
        inner join p_product_type_brand  ppb on p.id=ppb.brand_id
        <where>
            <if test="productType!=null">
                and ppb.product_type_id=#{productType}
            </if>
        </where>

    </select>

</mapper>
