<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.product.mapper.ProductPropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.product.entity.ProductProperty">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="property_id" property="propertyId" />
        <result column="is_sale" property="isSale" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id, property_id, is_sale, create_time, update_time
    </sql>

    <select id="queryByParam" resultType="map">
        SELECT
            pg.id groupId,
            pg.name groupName,
            ps.id propsId,
            ps.name propsName,
            pp.is_sale isSale,
            p.product_type productType
          from p_product_property pp INNER JOIN p_props_group pg on pp.group_id=pg.id INNER JOIN p_props ps on pp.property_id=ps.id
          inner join p_product p on p.product_code=pp.product_code
          <where>
              <if test="productCode!=null and productCode!=''">
                  and  pp.product_code=#{productCode}
              </if>
          </where>
    </select>

</mapper>
