<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.product.mapper.PropsOptionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.product.entity.PropsOption">
        <id column="id" property="id" />
        <result column="property_id" property="propertyId" />
        <result column="option_value" property="optionValue" />
        <result column="option_pic" property="optionPic" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, property_id, option_value, option_pic, create_time, update_time
    </sql>

    <select id="queryOptionsByPropsId" resultType="map">
       SELECT
       id id,
       option_value name
       from p_props_option where props_id=#{propsId}
    </select>
</mapper>
