<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmall.product.mapper.SkuPropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dmall.product.entity.SkuProperty">
        <id column="id" property="id" />
        <result column="sku_id" property="skuId" />
        <result column="property_id" property="propertyId" />
        <result column="property_name" property="propertyName" />
        <result column="option_id" property="optionId" />
        <result column="option_value" property="optionValue" />
        <result column="sku_image" property="skuImage" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sku_id, property_id, property_name, option_id, option_value, sku_image, create_time, update_time
    </sql>

    <insert id="batchInsert">
        insert into p_sku_property(sku_id,group_id,group_name, property_id, property_name, option_id, option_value, sku_image,create_time,update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.skuId},#{item.groupId},#{item.groupName},#{item.propertyId},#{item.propertyName},#{item.optionId},#{item.optionValue},#{item.skuImage},now(),now())
        </foreach>
    </insert>

</mapper>
