.x-nav{
    padding: 0 20px;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
}
.x-body{
    padding: 20px;
}

.x-center{
    text-align: center;
    margin: 0 auto;
}