<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        商品分类管理
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/admin.css" media="all">
    <link rel="stylesheet" th:href="@{/admin/css/admin.css}" href="./css/admin.css" media="all">
    <link rel="stylesheet" th:href="@{/zTree/css/zTreeStyle/zTreeStyle.css}" href="zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" th:href="@{/zTree/css/metroStyle/metroStyle.css}" href="zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" th:href="@{/layui/css/formSelects-v4.css}" href="./css/admin.css" media="all">
    <style type="text/css">
        div#rMenu {
            position: absolute;
            visibility: hidden;
            top: 0;
            text-align: left;
            padding: 4px;
        }

        div#rMenu a {
            padding: 3px 15px 3px 15px;
            background-color: #cad4e6;
            vertical-align: middle;
        }

        div#rMenu a:hover {
            padding: 3px 15px 3px 15px;
            background-color: #cad4e6;
            vertical-align: middle;
            color: orange;
        }
    </style>
</head>
<body>
    <div class="x-body">
        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3 layui-col-lg3">
            <div class="layui-row" style="margin-bottom: 20px;padding-left: 20px;">
                <button id="editType" class="layui-btn layui-btn-primary layui-btn-sm">编辑</button>
                <button id="setBrand" class="layui-btn layui-btn layui-btn-sm">设置品牌</button>
            </div>
            <div class="layui-row">
                <ul id="typeTree" class="ztree"></ul>
            </div>
        </div>
        <div class="layui-col-xs6 layui-col-sm6  layui-col-md8 layui-col-lg8">
            <fieldset class="layui-elem-field">
                <legend>编辑商品类型</legend>
                <div class="layui-field-box">
                    <form id="typeForm" class="layui-form layui-form-pane" action="">

                        <div class="layui-form-item" style="padding-top: 5px">
                            <label class="layui-form-label">类型名称</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="id"/>
                                <input type="text" name="name" lay-verify="required" autocomplete="off"
                                       placeholder="请输入类型名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上级类型</label>
                            <div class="layui-input-block">
                                <select id="pId" loadData="tree"  xm-select-search="" url="/type/tree?flag=add&level=1"  name="pid"  xm-select-radio xm-select="pid">
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">logo</label>
                            <div class="layui-input-block">
                                <input type="text" name="logo" autocomplete="off" placeholder="请输入logo"
                                       class="layui-input">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">排序号</label>
                            <div class="layui-input-block">
                                <input type="number" name="sortIndex" lay-verify="required|number"
                                       autocomplete="off" placeholder="请输入排序号" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">分类标题（SEO）</label>
                                <div class="layui-input-block">
                                    <input type="text" name="seoTitle" autocomplete="off" placeholder="请输入分类标题"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">分类关键字（SEO）</label>
                            <div class="layui-input-block">
                                <input type="text" name="seoKeywords" autocomplete="off" placeholder="请输入分类关键字（SEO）"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">描述</label>
                            <div class="layui-input-block">
                                <textarea name="description" placeholder="请输入描述" class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn" lay-submit="" id="submit" lay-filter="submit">
                                    立即提交
                                </button>
                                <button type="reset" id="reset" class="layui-btn layui-btn-primary">清空</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
</div>
    <div id="rMenu">
    <a href="#" id="add">新增</a><br/>
    <a href="#" id="edit">编辑</a><br/>
    <a href="#" id="delete">删除</a><br/>
    <a href="#" id="brand">设置品牌</a>
</div>

<script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>

<script th:inline="javascript">
    layui.config({
        base: '/controller/'
    }).use(['transfer', 'form', 'table', 'layer','zTree','curd'], function () {
        var $ = layui.$;
        var form=layui.form;
        var layer=layui.layer;
        var zTree = layui.zTree;
        var transfer = layui.transfer;
        var curd = layui.curd;

        var rMenu = $("#rMenu");
        $("#reset").hide();
        transfer.initSelect();

        var obj={
            url:'type/ztree',
            id: 'typeTree',
            rightClickCallback:showRMenu
        };
        var zTreeObj=zTree.zTreeAsync(obj);

        form.on('submit(submit)',function (data) {
            curd.save('/type/save',data.field,callBack);
            return false;
        });

        //新增子节点
        $("#add").click(function () {
            resetData();
            var treeNode = zTreeObj.getSelectedNodes()[0];
            if (treeNode) {
                $("#pId").attr("url",'/type/tree?flag=add&level='+treeNode.level);
                var typeObj={};
                typeObj.pid=treeNode.id;
                transfer.init(typeObj,null,'typeForm');
            }
        });

        // 编辑节点
        $("#edit").click(function () {
            resetData();
            var treeNode = zTreeObj.getSelectedNodes()[0];
            if (treeNode) {
                $("#pId").attr("url",'/type/tree?flag=edit&level='+treeNode.level);
                transfer.init(treeNode,null,'typeForm');
            }
        });

        // 删除节点
        $("#delete").click(function () {
            hideRMenu();
            var treeNode = zTreeObj.getSelectedNodes()[0];
            layer.confirm("确认删除节点"+treeNode.name+"以及子节点?",function (ok) {
                if(ok){
                    curd.deleteById('/type/delete?id='+treeNode.id,callBack);
                }
            })
        });

        //编辑节点
        $("#editType").click(function () {
            $("#reset").click();
            var treeNode = zTreeObj.getSelectedNodes()[0];
            if (!treeNode) {
                layer.msg("请选择节点进行编辑",{time:2000});
                return false;
            }else {
                transfer.init(treeNode,null,'typeForm');
            }
        });

        //设置品牌
        $("#setBrand,#brand").click(function () {
            $("#reset").click();
            var treeNode = zTreeObj.getSelectedNodes()[0];
            if (!treeNode) {
                layer.msg("请选择节点进行设置品牌",{time:2000});
                return false;
            }else {
                if(treeNode.level!=2){
                    layer.msg("请选择三级类型进行设置品牌",{time:2000});
                    return false;
                }
                curd.open('/type/setBrand?typeId='+treeNode.id,'设置品牌','300px','300px',setBrandCallBack);
            }
        });


        // 展示菜单
        function showRMenu(x, y,treeNode) {
            rMenu.css({"top":y+"px", "left":x+"px", "visibility":"visible"});
            if(treeNode.level!=2){
                $("#rMenu #add").show();
                $("#rMenu #setProp").hide();
            }else {
                // 三级菜单
                $("#rMenu #add").hide();
                $("#rMenu #setProp").show();
            }
            $("#rMenu #edit").show();
            $("body").bind("mousedown", onBodyMouseDown);
        }

        // 鼠标点击触发函数
        function onBodyMouseDown(event){
            if (!(event.target.id == "rMenu" || $(event.target).parents("#rMenu").length>0)) {
                rMenu.css({"visibility" : "hidden"});
            }
        }

        // 隐藏菜单
        function hideRMenu() {
            if (rMenu) rMenu.css({"visibility": "hidden"});
            $("body").unbind("mousedown", onBodyMouseDown);
        }

        // 隐藏菜单 重置表单
        function resetData() {
            hideRMenu();
            $("#reset").click();
        }

        // 删除或保存后 回调函数
        function callBack() {
            $("#reset").click();
            zTreeObj.reAsyncChildNodesPromise(null, "refresh");
        }

        //设置品牌之后的回调
        function setBrandCallBack(index,layero) {
            var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
            var treeNode = zTreeObj.getSelectedNodes()[0];
            var reqData={
                "typeIds":treeNode.id,
                "brandIds":iframeWin.getBrandIds()
            };
            curd.save('/type/setBrand',reqData,function () {
                layer.closeAll();
                layer.msg("设置品牌成功",{icon:1,time:2000},function () {
                    callBack();
                });
            });
            return 'success';
        }
    });

</script>

</body>
</html>