<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>
            商品管理
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/admin.css" media="all">
        <link rel="stylesheet" th:href="@{/admin/css/admin.css}" href="./css/admin.css" media="all">
        <link rel="stylesheet" th:href="@{/layui/css/formSelects-v4.css}" href="./css/admin.css" media="all">

    </head>
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>商品信息管理</cite></a>
              <a><cite>商品管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>

        <div class="x-body">

            <form class="layui-form" action="" >
                    <div class="layui-row">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">商品编码：</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="productCode" >
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">商品名称：</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="name" >
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-col-space10" style="margin-top: 5px;">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-lg6">
                            <label class="layui-form-label">商品分类：</label>
                            <div class="layui-input-block">
                                <select loadData="linkage" url="/type/tree" xm-select-search="" name="productType" xm-select="productType"
                                        linkage="true" linkageWidth="140" xm-select-radio="">
                                </select>
                            </div>
                        </div>
                        <button class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right" lay-submit id="formSearch" lay-filter="formSearch" title="搜索"><i class="layui-icon layui-icon-search"></i></button>
                    </div>

            </form>
            <table id="product"  class="layui-hide"  lay-filter="product">
            </table>

            <script type="text/html" id="image">
                {{# if (d.mainImage!=null || d.mainImage!='') { }}
                 <img src="http://pgdyorkvy.bkt.clouddn.com/{{d.mainImage }}?imageView2/2/w/30/h/30" />
                {{# } }}
            </script>

            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>添加商品</button>
                    <button class="layui-btn layui-btn-normal" lay-event="sku"><i class="layui-icon layui-icon-template-1"></i>SKU管理</button>
                </div>
            </script>

            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
        <script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>

        <script>
            layui.config({
                base: '/controller/'
            }).use(['element','form','table','layer','curd','transfer'], function() {
                var $ = layui.$;
                var table=layui.table;
                var form=layui.form;
                var curd=layui.curd;
                var transfer = layui.transfer;

                transfer.initSelect();
                curd.initPage('product','/product/page',buildColumn());

                //头工具栏事件
                table.on('toolbar(product)', function(obj){
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch(obj.event){
                        case 'add':
                             curd.openForm('/product/edit','添加商品','1000px', '1000px',true);
                            break;
                        case 'sku':
                            SKUManage(checkStatus.data);
                            break;
                    };
                });

                //监听行工具事件
                table.on('tool(product)', function(obj){
                    var data = obj.data;
                    if(obj.event === 'del'){
                        layer.confirm('确定删除该品牌?', {icon: 3, title:'提示'}, function(index){
                            curd.deleteById('/product/delete?id='+data.id,function(){
                                $("#formSearch").click();
                            });
                        });

                    } else if(obj.event === 'edit'){
                        curd.openForm('/product/edit?id='+data.id,'修改商品','1000px', '1000px',true);
                    }
                });

                //监听提交
                form.on('submit(formSearch)', function(data){
                    table.reload('product', {
                        where: data.field
                    });
                    return false;
                });

                // SKU 管理
                function SKUManage(data) {
                    if(data.length!=1){
                        layer.msg('请选择一个商品添加SKU');
                        return false;
                    }
                    var productCode=data[0].productCode;
                    curd.openForm('/product/skuEdit?productCode='+productCode,'添加SKU','1000px', '1000px',true);
                }

                function buildColumn() {
                    var cols=[
                        [
                            {type: 'checkbox', fixed: 'left'},
                            {field:'productCode', width:150,  title: '商品编码'},
                            {field:'mainImage',  title: '主图',templet:'#image'},
                            {field:'name', title: '商品名称'},
                            {field:'productTypeName', title: '商品分类'},
                            {field:'brandName', title: '品牌'},
                            {field:'onCityTime', title: '上市时间',width:180, sort: true,templet: function (d) {
                                    if(d.onCityTime){
                                        return layui.util.toDateString(d.onCityTime,'yyyy-MM-dd');
                                    }else {
                                        return '';
                                    }
                                }
                            },
                            {field:'maxPrice', title: '最高价', sort: true},
                            {field:'minPrice', title: '最低价', sort: true},
                            {field:'saleCount', title: '销量', sort: true},
                            {field:'updateTime',  title: '更新时间',width:180, sort: true,templet: function (d) {
                                if(d.updateTime){
                                    return layui.util.toDateString(d.updateTime);
                                }else {
                                    return '';
                                }
                            }},
                            {fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                        ]

                    ];
                    return cols;
                }

            });
        </script>
    </body>
</html>