<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>
        SKU详情
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/admin.css" media="all">
    <link rel="stylesheet" th:href="@{/layui/css/formSelects-v4.css}" href="./css/admin.css" media="all">
    <style>
        .size{
            font-size: 20px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>SKU信息维护</legend>
    </fieldset>
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">sku列表</li>
            <li>基本信息</li>
            <li>图文详情</li>
            <li>图片信息</li>
            <li>sku属性信息</li>
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            <button  id="saveSku" type="button"  class="layui-btn" style="float: right">保存SKU</button>
            <div class="layui-tab-item layui-show">
                <table id="sku"  class="layui-hide"  lay-filter="product">
                </table>
                <script type="text/html" id="image">
                    {{# if (d.skuMainPic!=null || d.skuMainPic!='') { }}
                    <img src="http://pgdyorkvy.bkt.clouddn.com/{{d.skuMainPic }}?imageView2/2/w/30/h/30" />
                    {{# } }}
                </script>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form" id="sku-form" action="">
                    <div class="layui-row">
                        <div class="layui-col-xs8 layui-col-sm8 layui-col-md8 layui-col-lg8">
                            <label class="layui-form-label">SKU名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="skuName" lay-verify="required" autocomplete="off"
                                       class="layui-input" >
                            </div>
                        </div>
                        <div  class=" layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">商品编码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="productCode" th:value="${productCode}"  autocomplete="off"
                                       class="layui-input" readonly >
                                <input type="hidden" name="brandId" th:value="${brandId}">
                                <input type="hidden" name="sortIndex" th:value="${sortIndex}">
                            </div>
                        </div>
                    </div>
                    <div class="layui-row" style="margin-top: 10px">
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">成本价</label>
                            <div class="layui-input-block">
                                <input type="number" name="costPrice" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div  class=" layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">市场价</label>
                            <div class="layui-input-block">
                                <input type="number" name="marketPrice" class="layui-input" >
                            </div>
                        </div>
                        <div  class=" layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">优惠价</label>
                            <div class="layui-input-block">
                                <input type="number" name="price" class="layui-input" >
                            </div>
                        </div>
                    </div>
                    <div class="layui-row" style="margin-top: 10px" >
                        <div  class=" layui-col-xs4 layui-col-sm4 layui-col-md8 layui-col-lg4">
                            <label class="layui-form-label">可用库存</label>
                            <div class="layui-input-block">
                                <input type="number" name="availableStock" lay-verify="required" class="layui-input">
                            </div>
                        </div>
                        <div  class=" layui-col-xs4 layui-col-sm4 layui-col-md8 layui-col-lg4">
                            <label class="layui-form-label">是否上架</label>
                            <div class="layui-input-block">
                                <input type="radio" name="state" lay-filter="state"  value="1" title="是" checked>
                                <input type="radio" name="state" lay-filter="state" value="0" title="否" >
                            </div>
                        </div>
                    </div>
                    <div id="timingSale" class="layui-row" style="margin-top: 10px;display: none">
                        <div  class=" layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">是否定时上架</label>
                            <div class="layui-input-inline">
                                <input type="checkbox"  lay-filter="timing" lay-skin="switch"  value="1" lay-text="是|否">
                            </div>
                        </div>
                        <div id="timeSale" class=" layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg4" style="display: none">
                            <label class="layui-form-label">定时上架时间</label>
                            <div class="layui-input-inline">
                                <input type="text" id="onSaleTime" class="layui-input date"  name="onSaleTime" placeholder="yyyy-MM-dd HH:mm:ss">
                            </div>
                        </div>
                    </div>
                    <div class="layui-row" style="margin-top: 10px">
                        <label class="layui-form-label">SKU简介</label>
                        <div class="layui-input-block">
                            <textarea name="skuDescription" lay-verify="required"  placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <button type="button" class="layui-btn" lay-submit="" style="display: none" id="submit"  lay-filter="submit">立即提交</button>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form" action="">
                    <h3>图文详情</h3>
                    <textarea id="skuContent" name="skuContent" ></textarea>
                </form>
            </div>
            <div class="layui-tab-item">
                <fieldset class="layui-elem-field">
                    <legend>添加sku图片</legend>
                    <div class="layui-field-box">
                        <div class="layui-upload">
                            <h4>默认第一张为sku主图</h4>
                            <hr class="layui-bg-green">
                            <button type="button" class="layui-btn" id="up">多图片上传</button>
                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                预览图：
                                <div id="layer-photos-demo" class="layer-photos-demo">
                                    <img src="http://pgdyorkvy.bkt.clouddn.com/ea1e5a77d8494b8c9fb3d517642269d9.jpg?v=1539355305343&amp;imageView2/2/w/160/h/160" layer-src="http://pgdyorkvy.bkt.clouddn.com/ea1e5a77d8494b8c9fb3d517642269d9.jpg?v=1539355305343" alt="示例图片">
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="layui-tab-item">
                <div class="layui-row" style="margin-top: 10px">
                    <div class="layui-col-xs3 layui-col-sm3 layui-col-md6 layui-col-lg6">
                        <label class="layui-form-label">商品分类</label>
                        <div class="layui-input-block">
                            <select loadData="linkage" url="/type/tree" xm-select-search=""
                                    name="productType" xm-select="productType" th:value="${productType}"
                                    linkage="true" linkageWidth="140" xm-select-radio="" lay-verify="required" disabled="disabled">
                            </select>
                        </div>
                    </div>
                    <div  class=" layui-col-xs3 layui-col-sm3 layui-col-md3 layui-col-lg3">
                        <label class="layui-form-label">品牌</label>
                        <div class="layui-input-block">
                            <select  name="brandId" lay-filter="brandId" th:value="${brandId}" lay-verify="required"  loadData="normal" url="/brand/listAll"
                                     disabled="disabled">
                            </select>
                        </div>
                    </div>
                    <div  class=" layui-col-xs3 layui-col-sm3 layui-col-md3 layui-col-lg3">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" id="addSkuProp">
                                <i class="layui-icon layui-icon-add-circle-fine"></i>添加SKU属性
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script th:inline="javascript">
        layui.config({
            base: '/controller/'
        }).use(['element','form', 'transfer','curd','layer','layedit','upload','croppers','table'], function () {
            var $=layui.$;
            var form = layui.form;
            var transfer = layui.transfer;
            var curd=layui.curd;
            var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
            var formSelects = layui.formSelects;
            var layer= layui.layer;
            var table=layui.table;
            var croppers = layui.croppers;
            var layedit = layui.layedit;
            var productCode=[[${productCode}]];
            // SKU列表分页查询
            curd.initSimplePage('sku','/sku/page?productCode='+productCode,buildColumn());
            transfer.initDate('sku-form','yyyy-MM-dd HH:mm:ss','onSaleTime','datetime')

            // 商品状态
            form.on('radio(state)', function(data){
                if(data.value==0){
                    $("#timingSale").css('display','block');
                }else{
                    $("#timingSale").css('display','none');
                }
            });

            // 是否定时上架
            form.on('switch(timing)', function(data){
                if(data.elem.checked){
                    $("#timeSale").css('display','block');
                }else{
                    $("#timeSale").css('display','none');
                }
            });

            //
            transfer.initSelect(null);
            // 建立编辑器
            layedit.set({
                uploadImage: {
                    url: '/sku/layEditUpload'
                }
            });
            var extIndex=layedit.build('skuContent',{
                height: 1000 //设置编辑器高度
            });
            //文件上传
            croppers.render({
                elem: '#up'
                ,saveW:420     //保存宽度
                ,saveH:420
                ,resizable:false
                ,mark:1/1    //选取比例
                ,area:'900px'  //弹窗宽度
                ,url: "/sku/upload?productCode="+ $("input[name='productCode']").val() //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
                ,done: function(res){ //上传完毕回调
                    $("#layer-photos-demo").append('<img src="'+ res.data.src +'" key="'+ res.data.key +'" layer-src="'+ res.data.layerSrc +'" class=".delete" alt="商品图片" >' +
                        '<i class="layui-icon layui-icon-close-fill"  style="color:red;cursor:pointer;" imgSrc="'+ res.data.key +'"></i>')
                }
            });

            // 保存按钮点击事件
            $("#saveSku").click(function () {
                $("#submit").click();
                if(parseInt($("input[name='costPrice']").val())<0
                    || parseInt($("input[name='marketPrice']").val())<0
                    || parseInt($("input[name='price']").val())<0){
                    layer.msg('金额不能为负数',{icon:2});
                    return false;
                }
                var fullSkuDTO={};
                var skuDTO=curd.toJson('sku-form');
                layedit.sync(extIndex);
                skuDTO.skuContent=$("#skuContent").val();
                fullSkuDTO.skuDTO=skuDTO;
                var imgVoArray=[];
                $("#layer-photos-demo").find("img").each(function (index) {
                    if(index!=0){
                        imgVoArray.push($(this).attr("key"));
                    }
                });
                fullSkuDTO.imgVoArray=imgVoArray;
                console.log(fullSkuDTO);
                curd.saveOrUpdate('/sku/save',fullSkuDTO,'POST',true);
            })


            // 商品图片弹出层展示
            layer.photos({
                photos: '#layer-photos-demo'
                ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
            });

            $(document).on('mouseenter','#saveSku',function () {
                $(this).attr('style','cursor:pointer;float: right');
            })

            function buildColumn() {
                var cols=[
                    [
                        {field:'skuCode', width:150,  title: 'SKU编码'},
                        {field:'skuMainPic',  title: '主图',templet:'#image',width:100},
                        {field:'skuName', title: 'SKU名称',width:450},
                        {field:'costPrice', title: '成本价', sort: true},
                        {field:'marketPrice', title: '市场价', sort: true},
                        {field:'price', title: '优惠价', sort: true},
                        {field:'availableStock', title: '可用库存', sort: true},
                        {field:'stateName', title: '状态'},
                    ]

                ];
                return cols;
            }

        });
</script>
</body>
</html>