<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>
            SKU管理
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/admin.css" media="all">
        <link rel="stylesheet" th:href="@{/admin/css/admin.css}" href="./css/admin.css" media="all">
        <link rel="stylesheet" th:href="@{/layui/css/formSelects-v4.css}" href="./css/admin.css" media="all">

    </head>
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>商品信息管理</cite></a>
              <a><cite>SKU管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
            <button class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right" lay-submit id="formSearch" lay-filter="formSearch" title="搜索"><i class="layui-icon layui-icon-search"></i></button>
        </div>

        <div class="x-body">

            <form class="layui-form" action="" >
                    <div class="layui-row">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">商品编码：</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="productCode" >
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">商品名称：</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="productName" >
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg4">
                            <label class="layui-form-label">SKU编码：</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="skuCode" >
                            </div>
                         </div>
                    </div>

                    <div class="layui-row layui-col-space10" style="margin-top: 5px;">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-lg6">
                            <label class="layui-form-label">商品分类：</label>
                            <div class="layui-input-block">
                                <select loadData="linkage" url="/type/tree" xm-select-search="" name="productType" xm-select="productType"
                                        linkage="true" linkageWidth="140" xm-select-radio="">
                                </select>
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3 layui-col-lg3">
                            <label class="layui-form-label">品牌：</label>
                            <div class="layui-input-block">
                                <select loadData="normal"  bean="brandServiceImpl" name="brandId" >
                                </select>
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3 layui-col-lg3">
                            <label class="layui-form-label">sku状态：</label>
                            <div class="layui-input-block">
                                <select loadData="normal" dict="_product_state"   name="brandId" >
                                </select>
                            </div>
                        </div>
                    </div>
            </form>
            <table id="sku"  class="layui-hide"  lay-filter="sku">
            </table>

            <script type="text/html" id="image">
                {{# if (d.skuMainPic!=null || d.skuMainPic!='') { }}
                 <img src="http://pgdyorkvy.bkt.clouddn.com/{{d.skuMainPic }}?imageView2/2/w/30/h/30" />
                {{# } }}
            </script>

            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                </div>
            </script>

            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                {{# if (d.state=='1') { }}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="off">下架</a>
                {{# } else { }}
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="on">上架</a>
                {{# } }}
            </script>
        </div>
        <script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>

        <script>
            layui.config({
                base: '/controller/'
            }).use(['element','form','table','layer','curd','transfer'], function() {
                var $ = layui.$;
                var table=layui.table;
                var form=layui.form;
                var curd=layui.curd;
                var transfer = layui.transfer;

                transfer.initSelect();
                curd.initPage('sku','/sku/skuPage',buildColumn());

                //搜索
                form.on('submit(formSearch)', function(data){
                    table.reload('sku', {
                        where: data.field
                    });
                    return false;
                });

                //监听行工具事件
                table.on('tool(sku)', function(obj){
                    var data = obj.data;
                    if(obj.event === 'off'){
                        layer.confirm('确定下架该sku?', {icon: 3, title:'提示'}, function(index){
                            curd.save('/sku/off?id='+data.id,null,function(){
                                $("#formSearch").click();
                            });
                        });
                    } else if(obj.event === 'edit'){
                        curd.openForm('/sku/edit?id='+data.id,'修改SKU','1000px', '1000px',true);
                    } else if(obj.event === 'on'){
                        layer.confirm('确定上架该sku?', {icon: 3, title:'提示'}, function(index){
                            curd.save('/sku/on?id='+data.id,null,function(){
                                $("#formSearch").click();
                            });
                        });
                    }
                });

                function buildColumn() {
                    var cols=[
                        [
                            {type: 'checkbox', fixed: 'left'},
                            {field:'productCode', width:150,  title: '商品编码'},
                            {field:'skuCode', width:150,  title: 'SKU编码'},
                            {field:'skuMainPic',  title: '主图',templet:'#image'},
                            {field:'skuName', title: 'SKU名称'},
                            {field:'productTypeName', title: '商品分类'},
                            {field:'brandName', title: '品牌'},
                            {field:'marketPrice', title: '市场价'},
                            {field:'price', title: '售价'},
                            {field:'availableStock', title: '可用库存'},
                            {field:'saleCount', title: '销量', sort: true},
                            {field:'commentCount', title: '评论数', sort: true},
                            {field:'goodRate', title: '好评率', sort: true},
                            {field:'stateName', title: '商品状态', sort: true},
                            {field:'updateTime',  title: '更新时间', width:180, sort: true,templet: function (d) {
                                if(d.updateTime){
                                    return layui.util.toDateString(d.updateTime);
                                }else {
                                    return '';
                                }
                            }},
                            {fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                        ]

                    ];
                    return cols;
                }

            });
        </script>
    </body>
</html>