<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>
            设置品牌
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/admin.css" media="all">
        <link rel="stylesheet" th:href="@{/admin/css/admin.css}" href="./css/admin.css" media="all">
    </head>
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>商品信息管理</cite></a>
              <a><cite>品牌管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>

        <div class="x-body">

            <form class="layui-form  layui-form-pane" action="" >
                <div class="layui-form-item">

                    <div class="layui-row">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                            <label class="layui-form-label">品牌名称：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="brandName" >
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-sm12 layui-col-md3">
                            <label class="layui-form-label">首字母：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="firstLetter" >
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-sm12 layui-col-md3">
                            <div class="layui-input-inline" style="width:80px">
                                <button class="layui-btn" lay-submit id="formSearch" lay-filter="formSearch"><i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </div>
                    </div>


                </div>

            </form>
            <table id="setBrand"  class="layui-hide"  lay-filter="setBrand">
            </table>
        </div>
        <script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>
        <script th:src="@{/js/common.js}"  charset="utf-8"></script>

        <script>
            var brandIds=[];
            layui.use(['element','form','table','layer'], function() {
                $ = layui.jquery;//jquery
                table=layui.table;//表格
                form=layui.form;
                var cols=buildColumn();

                pageList(table,'setBrand','/brand/list',cols);

                function buildColumn() {
                    var cols=[
                        [
                            {type: 'checkbox', fixed: 'left'},
                            {field:'id',  title: 'ID', sort: true},
                            {field:'brandName',  title: '品牌名称'},
                            {field:'englishName', title: '英文名称'},
                            {field:'firstLetter', title: '首字母', sort: true},
                            {field:'updateTime',  title: '更新时间', sort: true,templet: function (d) {
                                    if(d.updateTime){
                                        return layui.util.toDateString(d.updateTime);
                                    }else {
                                        return '';
                                    }
                                }},
                        ]

                    ];
                    return cols;
                }
                
                function getCheck() {
                    var checkStatus = table.checkStatus('setBrand');
                    data = checkStatus.data;
                    for(var i=0;i<data.length;i++){
                        brandIds.push(data[i].id);
                    }
                }

                table.on('checkbox(setBrand)', function(obj){
                    getCheck();
                });

            });
            function getBrandIds() {
                return brandIds;
            }
        </script>
    </body>
</html>