<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>
            设置品牌
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/admin.css" media="all">
        <link rel="stylesheet" th:href="@{/admin/css/admin.css}" href="./css/admin.css" media="all">
        <link rel="stylesheet" th:href="@{/layui/css/formSelects-v4.css}" href="./css/admin.css" media="all">
    </head>
    <body>

        <div class="x-body">
            <select loadData bean="brandServiceImpl" xm-select-search="" name="brandIds" xm-select="brandIds">
            </select>
        </div>
        <script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>

        <script th:inline="javascript">
            var brandIds=[];
            layui.config({
                base: '/controller/'
            }).use(['element','form','table','layer','curd','transfer','formSelects'], function() {
                var $ = layui.$;
                var form=layui.form;
                var curd = layui.curd;
                var transfer = layui.transfer;
                var formSelects = layui.formSelects;

                transfer.init([[${bean}]]);
                brandIds=[[${bean.brandIds}]];
                console.log(brandIds);

                formSelects.on('brandIds', function(id, vals, val, isAdd, isDisabled){
                    //id:           点击select的id
                    //vals:         当前select已选中的值
                    //val:          当前select点击的值
                    //isAdd:        当前操作选中or取消
                    //isDisabled:   当前选项是否是disabled

                    if(isAdd){
                        if($.inArray(val.id,brandIds)==(-1)){
                            brandIds.push(val.id);
                        }
                    }else {
                        brandIds.splice($.inArray(val.id,brandIds),1);
                    }
                    //如果return false, 那么将取消本次操作
                });
            });

            function getBrandIds() {
                var result="";
                for(var i=0;i<brandIds.length;i++){
                    result+=brandIds[i]+",";
                }
                return result.substring(0,result.length-1);
            }

        </script>
    </body>
</html>