<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>
            字典管理
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="./css/admin.css" media="all">
        <link rel="stylesheet" th:href="@{/admin/css/admin.css}" href="./css/admin.css" media="all">
    </head>
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>系统管理</cite></a>
              <a><cite>字典管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
            <button class="layui-btn layui-btn-small" style="line-height:1.6em;margin:3px;float:right" lay-submit id="formSearch" lay-filter="formSearch" title="搜索"><i class="layui-icon layui-icon-search"></i></button>
        </div>

        <div class="x-body">

            <form class="layui-form" action="" >
                <div class="layui-form-item">

                    <div class="layui-row">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg3">
                            <label class="layui-form-label">字典key：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="dictType" >
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg3">
                            <label class="layui-form-label">字典名称：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="dictName" >
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg3">
                            <label class="layui-form-label">字典代码：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="code" >
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg3">
                            <label class="layui-form-label">字典值：</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="value" >
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <table id="dict"  class="layui-hide"  lay-filter="dict">
            </table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>添加字典</button>
                </div>
            </script>

            <script type="text/html" id="barDemo">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                {{# if (d.status=='1') { }}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="invalid">停用</a>
                {{# } else { }}
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="active">启用</a>
                {{# } }}

            </script>
        </div>
        <script th:src="@{/layui/layui.js}" src="./lib/layui/layui.js" charset="utf-8"></script>

        <script>
            layui.config({
                base: '/controller/'
            }).use(['element','form','table','layer','curd'], function() {
                var $ = layui.jquery;
                var table=layui.table;
                var form=layui.form;
                var curd= layui.curd;

                curd.initPage('dict','/dict/list',buildColumn());

                //头工具栏事件
                table.on('toolbar(dict)', function(obj){
                    var checkStatus = table.checkStatus(obj.config.id);
                    switch(obj.event){
                        case 'add':
                            curd.openForm('/dict/edit','添加字典','600px', '500px');
                            break;
                    };
                });

                //监听行工具事件
                table.on('tool(dict)', function(obj){
                    var data = obj.data;
                    if(obj.event === 'invalid'){
                        layer.confirm('确定停用该字典?', {icon: 3, title:'提示'}, function(index){
                            curd.saveOrUpdate('/dict/invalid?id='+data.id);
                        });
                    } else if(obj.event=='active'){
                        layer.confirm('确定启用该字典?', {icon: 3, title:'提示'}, function(index){
                            curd.saveOrUpdate('/dict/active?id='+data.id);
                        });
                    }
                    else if(obj.event === 'edit'){
                        curd.openForm('/dict/edit?id='+data.id,'修改字典','600px', '500px');
                    }
                });

                //监听提交
                form.on('submit(formSearch)', function(data){
                    table.reload('dict', {
                        where: data.field
                    });
                    return false;
                });

                function buildColumn() {
                    var cols=[
                        [
                            {type: 'checkbox', fixed: 'left'},
                            {field:'id',  title: 'ID', sort: true},
                            {field:'dictType', title: '字典key'},
                            {field:'dictName',  title: '字典名称'},
                            {field:'dictCode', title: '字典代码', sort: true},
                            {field:'dictValue',  title: '字典值'},
                            {field:'sortIndex',  title: '排序'},
                            {field:'statusName',  title: '是否有效'},
                            {field:'updateTime',  title: '更新时间', sort: true,templet: function (d) {
                                    if(d.updateTime){
                                        return layui.util.toDateString(d.updateTime);
                                    }else {
                                        return '';
                                    }
                                }},
                            {fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}

                        ]

                    ];
                    return cols;
                }

            });
        </script>
    </body>
</html>